.contato-box{
  width: 680px;
  height: 404px;
  background-color: #EA916B;
  border-radius: 10px;
  filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.16 ));
  margin-top: 29px;
}

.form{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  height: 263px;
}

.input{
  border-radius: 5px;
  width: 292px;
  height: 46px;
  border: none;
  font-family: "montserrat";
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 14px;
}

.textarea{
  width: 600px;
  height: 200px;
  border-radius: 5px;
  margin-top: 16px;
  border: none;
  font-family: "montserrat";
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 16px;
}

.botao-enviar{
  width: 160px;
  height: 40px;
  border-radius: 10px;
  filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.16 )); 
  background: #373735;
  border: none;
  font-family: "montserrat";
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.div-enviar{
  width: 100%;
  display: grid;
  justify-content: center;
  margin-top: 22px;
}