<div class="container">
  <h1 class="title">Contato</h1>
  <div class="contato-box">
    <div class="form">
      <div style="display: flex; justify-content: space-evenly;">
        <input type="text" class="input" placeholder="Nome*"/>
        <input type="text" class="input" placeholder="E-mail*"/>
      </div>
      <textarea class="textarea" placeholder="Mensagem*"></textarea>
    </div>
    <div class="div-enviar">
      <button class="botao-enviar">ENVIAR</button>
    </div>
  </div>
</div>