.contato-box{
  width: 680px;
  height: 404px;
  background-color: #EA916B;
  border-radius: 10px;
  filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.16 ));
}

.container{
  margin: 80px;
  display: grid;
  justify-content: center;
}

.form{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}

.input{
  border-radius: 5px;
  width: 281px;
  height: 46px;
  border: none;
}

.textarea{
  width: 590px;
  height: 200px;
  border-radius: 5px;
  margin-top: 16px;
  border: none
}

.botao-enviar{
  width: 160px;
  height: 40px;
  border-radius: 10px;
  filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.16 )); 
  background: #373735;
  border: none;
  font-family: "montserrat";
  color: #fff
}

.div-enviar{
  width: 100%;
  display: grid;
  justify-content: center;
  margin-top: 22px
}