body{
  background-color: #2D2D2D;
}

.title{
  margin: auto; 
  padding-bottom: 29px;
  color: #ffff;
  font-family: "montserrat";
  font-size: 22px;
  font-weight: 400;
}

.container{
  margin: 80px;
  margin-top: 46px;
  display: grid;
  justify-content: center;
}

